@attribute [Route(PagePaths.Employee.Add)]
@using EquimentManagement.Contracts.Requests;
@using EquipmentManagement.UI.Abstractions;
@inject IEmployeeService EmployeeService;
@inject NavigationManager Navigation;
@attribute [Authorize(Roles = "Admin")]


<div class="container">
    <div class="row">
        <div class="align-content-center justify-content-center">
            <h3>Add</h3>
            <EditForm Model="@request"
                      OnValidSubmit="@OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-3">
                    <label class="form-label">Фамилия</label>
                    <InputText class="form-control"
                               @bind-Value="@request.Lastname"></InputText>
                </div>
                <div class="mb-3">
                    <label class="form-label">Имя</label>
                    <InputText class="form-control"
                               @bind-Value="@request.Firstname"></InputText>
                </div>
                <div class="mb-3">
                    <label class="form-label">Отчество</label>
                    <InputText class="form-control"
                               @bind-Value="@request.Patronymic"></InputText>
                </div>
                <div class="mb-3">
                    <button type="submit"
                            class="btn btn-primary">
                        Создать
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private AddEmployeeRequest request = new();

    private async Task OnValidSubmitAsync()
    {
        await EmployeeService.AddAsync(request);
        Navigation.NavigateTo(PagePaths.Employee.List);
    }
}

