@using System.Collections.ObjectModel;
@using EquimentManagement.Contracts.Responses;
@using EquipmentManagement.UI.Abstractions;
@inject IEquipmentService EquipmentService;
@attribute [Authorize]
@if (equipments is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>Тип</span>
                </th>
                <th>
                    <span>Артикул</span>
                </th>
                <th>
                    <span>Серийный номер</span>
                </th>
                <th>
                    <span>Описание</span>
                </th>
                <th>
                    <span>Статус</span>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var equipment in equipments)
            {
                <tr>
                    <td>
                        <span>@equipment.Type</span>
                    </td>
                    <td>
                        <span>@equipment.Article</span>
                    </td>
                    <td>
                        <span>@equipment.SerialNumber</span>
                    </td>
                    <td>
                        <textarea draggable="false"
                                  readonly="readonly">@equipment.Description</textarea>
                    </td>
                    <td>
                        <strong>@equipment.StatusTitle</strong>
                        @if (equipment.EmployeeFullname is not null)
                        {
                            <span> (@equipment.EmployeeFullname)</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary"
                        @onclick="async () => await DetailsRequested.InvokeAsync(equipment)">
                            <span class="oi oi-info"></span> Детали
                        </button>
                        <AuthorizeView Roles="Admin">
                            <Authorized>                                
                                <button class="btn btn-primary"
                                @onclick="async() => await EditRequested.InvokeAsync(equipment)">
                                    <span class="oi oi-pencil"></span> Изменить статус
                                </button>
                                <button class="btn btn-primary"
                                @onclick="async() => await EditEquipmentRequested.InvokeAsync(equipment)">
                                    <span class="oi oi-pencil"></span> Изменить
                                </button>
                            </Authorized>
                        </AuthorizeView>
                        <button class="btn btn-primary"
                        @onclick="async () => await HistoryRequested.InvokeAsync(equipment)">
                            <span class="oi oi-list-rich"></span> История
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="d-flex">
        <div class="my-auto mx-auto">
            <LoadingCircle />
        </div>
    </div>
}

@code {
    private ObservableCollection<EquipmentWithStatusResponse>? equipments;    
    [Parameter]
    public EventCallback<EquipmentWithStatusResponse> EditRequested { get; set; } = default!;
    [Parameter]
    public EventCallback<EquipmentWithStatusResponse> HistoryRequested { get; set; } = default!;
    [Parameter]
    public EventCallback<EquipmentWithStatusResponse> DetailsRequested { get; set; } = default!;
    [Parameter]
    public EventCallback<EquipmentWithStatusResponse> EditEquipmentRequested { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadEquipments();
    }

    public void DeleteEquipment(EquipmentWithStatusResponse equipment)
    {
        equipments?.Remove(equipment);
    }

    private async Task LoadEquipments()
    {
        var response = await EquipmentService.GetAllAsync();
        if (response is not null)
        {
            equipments = new ObservableCollection<EquipmentWithStatusResponse>(response);
            equipments.CollectionChanged += (s, e) => StateHasChanged();
        }
    }
}
