@attribute [Route(PagePaths.Equipment.Add)]
@using EquimentManagement.Contracts.Requests;
@using System.Collections.ObjectModel;
@using System.Net.Http.Headers;
@using EquipmentManagement.UI.Abstractions;
@using EquipmentManagement.UI.Services;
@inject HttpClient Client;
@inject NavigationManager Navigation;
@inject ImageService ImageService;
@inject IEquipmentService EquipmentService;
@attribute [Authorize(Roles = "Admin")]

<div class="container">
    <div class="row">
        <div class="align-content-center justify-content-center">
            <h3>Добавление оборудования</h3>
            <EditForm Model="@request"
                      OnValidSubmit="@OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-3">
                    <label class="form-label">Тип</label>
                    <InputText class="form-control"
                               @bind-Value="@request.Type"></InputText>
                </div>
                <div class="mb-3">
                    <label class="form-label">Артикул</label>
                    <InputText class="form-control"
                               @bind-Value="@request.Article"></InputText>
                </div>
                <div class="mb-3">
                    <label class="form-label">Серийный номер</label>
                    <InputText class="form-control"
                               @bind-Value="@request.SerialNumber"></InputText>
                </div>
                <div class="mb-3">
                    <label class="form-label">Описание</label>
                    <InputTextArea class="form-control"
                                   @bind-Value="@request.Description"></InputTextArea>
                </div>
                <div class="mb-3 h-25">
                    <label class="form-label">Фото</label>
                    <div class="p-2 d-flex justify-content-start w-100 bg-light">
                        @foreach (var source in sources)
                        {
                            <ImageThumb Source="@source"/>
                        }
                    </div>
                    <InputFile multiple OnChange="LoadFileAsync"></InputFile>
                </div>
                <div class="mb-3">
                    <button type="submit"
                            class="btn btn-primary">
                        Создать
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@code {


    private AddEquipmentRequest request = new();
    private ObservableCollection<UploadedFile> uploadedFiles = new();    
    private List<string> sources = new();

    protected override void OnInitialized()
    {
        uploadedFiles.CollectionChanged += (s, e) => StateHasChanged();
    }

    private async Task OnValidSubmitAsync()
    {
        await EquipmentService.AddAsync(request);
        await ImageService.AddImagesAsync(uploadedFiles);
        
        Navigation.NavigateTo(PagePaths.Equipment.List);
        
    }

    private async Task LoadFileAsync(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles();
        foreach (var file in files)
        {
            uploadedFiles.Add(new UploadedFile(file));
            using var ms = new MemoryStream();
            await file.OpenReadStream().CopyToAsync(ms);
            var source = $"data:{file.ContentType};base64,{Convert.ToBase64String(ms.ToArray())}";
            sources.Add(source);
        }   
    }
}
