@page "/equipment/"
@using EquimentManagement.Contracts.Responses;
@using EquipmentManagement.UI.Abstractions;
@inject HttpClient Client;
@inject IEquipmentService EquipmentService;
@inject NavigationManager Navigation;
@attribute [Authorize]
<h3>Equipment</h3>
<div class="navbar-dark">
    <NavLink class="btn btn-primary" href="/equipment/add">Добавить оборудование</NavLink>
</div>
   @if (equipments is not null && records is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>Тип</span>
                </th>
                <th>
                    <span>Артикул</span>
                </th>
                <th>
                    <span>Серийный номер</span>
                </th>
                <th>
                    <span>Описание</span>
                </th>
                <th>
                    <span>Статус</span>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var equipment in equipments)
            {
                <tr>
                    <td>
                        <span>@equipment.Type</span>
                    </td>
                    <td>
                        <span>@equipment.Article</span>
                    </td>
                    <td>
                        <span>@equipment.SerialNumber</span>
                    </td>
                    <td>
                        <textarea draggable="false" readonly="readonly">@equipment.Description</textarea>
                    </td>
                    <td>
                        <span>@GetStatusByRecordId(equipment.LastRecordId)</span>
                    </td>
                    <td>
                        <button class="btn btn-danger">Удалить</button>
                        <button class="btn btn-primary" @onclick="EditEquipmentStatus">Изменить статус</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="d-flex">
        <div class="my-auto mx-auto">
            <LoadingCircle />
        </div>
    </div>
}
@code {
    private IEnumerable<EquipmentResponse>? equipments;
    private IEnumerable<EquipmentRecordResponse>? records;
    private IEnumerable<StatusResponse>? statuses;

    protected override async Task OnInitializedAsync()
    {
        await LoadEquipments();
    }

    private async Task LoadEquipments()
    {
        equipments = await EquipmentService.GetAllAsync();
        records = await Client.GetFromJsonAsync<IEnumerable<EquipmentRecordResponse>>("/api/equipmentrecords/");
        statuses = await Client.GetFromJsonAsync<IEnumerable<StatusResponse>>("/api/status/");
    }

    private void EditEquipmentStatus()
    {
        Navigation.NavigateTo($"/record/edit");
    }

    private StatusResponse? GetStatusByRecordId(Guid? recordId)
    {
        if (recordId is null)
            return null;
        var record = GetRecordById((Guid)recordId);
        if (record is null)
            return null;

        return statuses?.SingleOrDefault(x => x.Id == record.StatusId);

    }

    private EquipmentRecordResponse? GetRecordById(Guid recordId)
    {
        return records?.SingleOrDefault(x => x.Id == recordId);
    }
}
