@attribute [Route(PagePaths.EquipmentRecord.Add)]
@using EquimentManagement.Contracts.Requests;
@using EquimentManagement.Contracts.Responses;
@using EquipmentManagement.UI.Abstractions;
@using EquipmentManagement.UI.Shared.Modal
@using System.Collections.ObjectModel;
@inject IEmployeeService EmployeeService;
@inject IStatusService StatusService;
@inject IEquipmentService EquipmentService;
@inject IEquipmentRecordService RecordService;
@inject NavigationManager Navigation;
@attribute [Authorize(Roles = "Admin")]
<Modal @ref="statusModal"
       Title="Добавление нового статуса"
       OnCancelClick="@HideStatusModal"
       OnSubmitClick="OnStatusModalSubmit">
    <EditForm Model="@statusRequest">
        <div class="mb-3">
            <label class="form-label">Название</label>
            <InputText class="form-control" @bind-Value="statusRequest.Title" />
        </div>
        <div class="mb-3">
            <label class="form-label">Описание</label>
            <InputText class="form-control" @bind-Value="statusRequest.Description" />
        </div>
    </EditForm>
</Modal>
<div class="container">
    <div class="row">
        <div class="align-content-center justify-content-center">
            <h3>Изменение статуса оборудования</h3>
            <p>@equipment?.Type</p>
            <button type="button" class="btn btn-primary"
                    @onclick="() => statusModal?.Show()">
                Добавить новый статус
            </button>
            <EditForm Model="@request" OnValidSubmit="@OnValidInputAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-3">
                    <label class="form-label">Назначно на</label>
                    <InputSelect class="form-select" @bind-Value="request.EmployeeId">
                        <option value="">Никто</option>
                        @if (employees is not null)
                        {
                            foreach (var employee in employees)
                            {
                                <option value="@employee.Id">@employee.Lastname @employee.Firstname @employee.Patronymic</option>
                            }
                        }
                    </InputSelect>
                </div>
                <div class="mb-3">
                </div>
                <div class="mb-3">
                    <label class="form-label">Статус</label>
                    <InputSelect class="form-select" @bind-Value="request.StatusId">
                        @if (statuses is not null)
                        {
                            foreach (var status in statuses)
                            {
                                <option value="@status.Id">@status.Title</option>
                            }
                        }
                    </InputSelect>
                </div>
                <div class="mb-3">
                    <button type="submit"
                            class="btn btn-primary">
                        Изменить
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@code {
    private AddEquipmentRecordRequest request = new();
    private AddStatusRequest statusRequest = new();
    private EquipmentResponse? equipment;
    private Modal statusModal = null!;

    private IEnumerable<EmployeeResponse>? employees;
    private ObservableCollection<StatusResponse>? statuses;

    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public Guid EquipmentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (EquipmentId == default)
            Navigation.NavigateTo(PagePaths.Equipment.List);
        await LoadDataAsync();
        request.EquipmentId = EquipmentId;
        if (statuses is not null)
            statuses.CollectionChanged += (s, e) => StateHasChanged();
    }

    private void HideStatusModal()
    {
        statusModal.Hide();
    }

    private async Task OnValidInputAsync()
    {
        await RecordService.AddAsync(request);
        Navigation.NavigateTo(PagePaths.Equipment.List);
    }

    private async Task OnStatusModalSubmit()
    {
        await StatusService.AddAsync(statusRequest);
        statusModal.Hide();
    }

    private async Task LoadDataAsync()
    {
        employees = await EmployeeService.GetAllAsync();
        var statusResponse = await StatusService.GetAll();
        if (statusResponse is not null)
            statuses = new ObservableCollection<StatusResponse>(statusResponse);
        equipment = await EquipmentService.GetByIdAsync(EquipmentId);
    }
}
