@using EquipmentManagement.UI.Pages.Auth
@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <CascadingBlazoredModal>        
            <Router AppAssembly="@typeof(App).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            <RedirectToLogin />
                        </NotAuthorized>
                    </AuthorizeRouteView>
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Found>
                <NotFound>
                    <PageTitle>Не найдено</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <div class="d-flex flex-column">
                            <div class="flex-row">
                                <div class="align-content-center justify-content-center">
                                    <h1 class="text-center"><strong>404</strong></h1>
                                    <p class="text-center">Здесь ничего нет.</p>
                                    <p class="text-center">
                                        <NavLink href="/" class="link-primary">Перейти на главную</NavLink>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </LayoutView>
                </NotFound>
            </Router>        
    </CascadingBlazoredModal>
</CascadingAuthenticationState>
