@attribute [Route(PagePaths.Auth.Login)]
@using EquimentManagement.Contracts.Requests;
@using EquimentManagement.Contracts.Responses;
@using EquipmentManagement.UI.Abstractions;
@using EquipmentManagement.UI.Authentification;
@using EquipmentManagement.UI.Shared.Alert;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject IAuthentificationService AuthService;
@inject NavigationManager Navigation;

<div class="container p-2">
    <div class="row">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="d-flex justify-content-center">
                <div class="p-1">
                    <Alert @ref="Alert" Class="alert-danger">
                        <span class="text-center">@errorMessage</span>
                    </Alert>
                    <h3 class="text-center">Войти</h3>
                    <div class="p-2 border-2 border-dark rounded-1 shadow">
                        <EditForm Model="@request"
                                  OnValidSubmit="@OnLoginSuccess">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="mb-3">
                                <label class="form-label">Логин</label>
                                <InputText @bind-Value="@request.Login"
                                           class="form-control"></InputText>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Пароль</label>
                                <InputText @bind-Value="@request.Password"
                                           type="password"
                                           class="form-control"></InputText>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Запомнить меня?</label>
                                <InputCheckbox @bind-Value="@request.RememberMe"
                                               class="form-check-inline mx-3"></InputCheckbox>
                            </div>
                            <div class="mb-3">
                                <button type="submit"
                                        class="btn btn-primary">
                                    Войти
                                </button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3"></div>
    </div>
</div>



@code {
    private readonly LoginRequest request = new();
    private Alert? Alert { get; set; }
    private string? errorMessage;
    protected override void OnInitialized()
    {

    }

    private async Task OnLoginSuccess()
    {
        Alert?.Hide();
        var result = await AuthService.SignInAsync(request, default);
        if (result.IsSuccess)
        {
            Navigation.NavigateTo(PagePaths.Home);
        }
        else
        {
            errorMessage = result.Errors!.First().Value;
            Alert?.Show();
        }
    }
}
